@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.max-h-screen {
  max-height: 100vh;
  height: 100vh;
}

.even-section-background {
  background: #F5F5F5 0% 0% no-repeat padding-box;
}

/* :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

.animate__animated.animate__bounce {
    --animate-duration: 2s;
} */